* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.top-section {
    background-color: #6b0404;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

.center-section {
    flex: 1;
    background: url("./image.webp") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    animation: slideIn 1s ease-out;
    opacity: 2px;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    background-color: #690b23;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.signup-form button:hover {
    background-color: #694606;
    transform: scale(1.05);
}

.login-button {
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.bottom-section {
    background-color: #0e1012;
    height: 20vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .signup-form {
        width: 250px;
        padding: 15px;
    }

    .signup-form button {
        font-size: 0.9rem;
    }

    .logo {
        width: 120px;
    }
}

@media screen and (min-width: 370px) and (max-width: 700px) {
    .signup-form {
        width: 280px;
    }

    .logo {
        width: 140px;
    }
}
